@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
    font-size: 1.2em;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.carousel-inner img {
    width: 100%;
    max-height: 800px;
    background-position: center;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.h2custom {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pcustom {
    padding-left: 20px;
    padding-right: 300px;
}

.btn-primary {
    background-color: #d1a46f;
    border: 1px solid #d1a46f;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #cd832c;
    border: 1px solid #cd832c;
}

.padding {
    padding-bottom: 1rem;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

footer a:hover {
    color: #000;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.footer-text {
    text-align: left;
    padding-left: 40px;
}


/*---Media Queries --*/

@media screen and (max-width: 1500px) {
    .pcustom {
        padding-right: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .pcustom {
        padding-right: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .card-img-top {
        height: 250px;
    }
    .h4,
    h4 {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400%;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .card-img-top {
        height: auto;
    }
    .navbar-nav .nav-link {
        padding-left: 15px;
    }
    .h6,
    h6 {
        font-size: 1.5rem;
    }
    .text-reset {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
}

@media screen and (max-width: 365px) {
    .navbar-brand {
        font-size: 22px;
        font-weight: 700;
    }
    .navbar-brand>img {
        width: 20%;
    }
}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}